<!DOCTYPE html>
<html>

<head>

<title>Carrito</title>

{% load static %}

<meta name="viewport"
      content="width=device-width, initial-scale=1.0">

<link rel="stylesheet"
      href="{% static 'css/estilos.css' %}">

</head>

<body>

<header class="header-tienda">

    <div class="logo-tienda">
        🛍️ <span>Mi Tienda</span>
    </div>

    <nav class="nav-tienda">

        <a href="{% url 'lista_productos' %}">
            Inicio
        </a>

        <a href="{% url 'consultar_pedido' %}">
            📦 Pedidos
        </a>

        <a href="{% url 'ver_carrito' %}"
           class="carrito-header nav-activo">
            🛒 Carrito
        </a>

    </nav>

</header>

<div class="contenedor">

<h1>🛒 Mi Carrito</h1>

{% if carrito %}

<div class="table-container">

<table border="1">

<tr>
    <th>Producto</th>
    <th>Precio</th>
    <th>Cantidad</th>
    <th>Subtotal</th>
    <th>Acción</th>
</tr>

{% for key, item in carrito.items %}

<tr>

<td>
{{ item.nombre }}
</td>

<td>
S/ {{ item.precio_actual }}
</td>

<td>

<form method="POST"
      action="{% url 'actualizar_cantidad' key %}"
      class="form-cantidad">

{% csrf_token %}

<a href="{% url 'restar_producto' key %}">
<button type="button">−</button>
</a>

<input type="number"
       name="cantidad"
       value="{{ item.cantidad }}"
       min="1"
       class="input-cantidad">

<a href="{% url 'sumar_producto' key %}">
<button type="button">+</button>
</a>

<button type="submit"
        class="btn-actualizar">
✔
</button>

</form>

</td>

<td>
S/ {{ item.subtotal }}
</td>

<td>

<a href="{% url 'eliminar_producto' key %}">
<button>❌</button>
</a>

</td>

</tr>

{% endfor %}

</table>

</div>

<br>

<h2>
Total: S/ {{ total }}
</h2>

<a href="{% url 'crear_pedido' %}">
<button>
🧾 Realizar Pedido
</button>
</a>

{% else %}

<p style="text-align:center;">
El carrito está vacío.
</p>

{% endif %}

<br>

<a href="{% url 'lista_productos' %}">
<button>
⬅ Volver a la tienda
</button>
</a>

</div>

</body>

</html>