<!DOCTYPE html>
<html>

<head>

<title>Consultar Pedido</title>

{% load static %}

<meta name="viewport"
      content="width=device-width, initial-scale=1.0">

<link rel="stylesheet"
      href="{% static 'css/estilos.css' %}">

</head>

<body>

<div class="contenedor">

<h1>📦 Consultar Pedido</h1>

<form method="POST">

{% csrf_token %}

<input type="number"
       name="numero"
       placeholder="Número de pedido"
       required>

<button type="submit">
Buscar
</button>

</form>

{% if pedido %}

<div class="card">

<h2>
Pedido #{{ pedido.id }}
</h2>

<p>
Estado:
<strong>
{{ pedido.estado }}
</strong>
</p>

<p>
Fecha:
{{ pedido.fecha }}
</p>

<p>
Total:
S/ {{ pedido.total }}
<h3>Productos:</h3>

<ul>

{% for item in detalles %}

<li>

{{ item.producto.nombre }}
x {{ item.cantidad }}

</li>

{% endfor %}

</ul>
</p>

</div>

{% endif %}

{% if error %}

<p style="color:red;">
{{ error }}
</p>

{% endif %}

<br>

<a href="/">
<button>
⬅ Volver a tienda
</button>
</a>

</div>

</body>

</html>