<!DOCTYPE html>
<html>

<head>

<title>Consultar Pedido</title>

{% load static %}

<meta name="viewport"
      content="width=device-width, initial-scale=1.0">

<link rel="stylesheet"
      href="{% static 'css/estilos.css' %}">

</head>

<body>

<header class="header-tienda">

    <div class="logo-tienda">
        🛍️ <span>Mi Tienda</span>
    </div>

    <nav class="nav-tienda">

        <a href="{% url 'lista_productos' %}">
            Inicio
        </a>

        <a href="{% url 'consultar_pedido' %}" class="nav-activo">
            📦 Pedidos
        </a>

        <a href="{% url 'ver_carrito' %}" class="carrito-header">
            🛒 Carrito
        </a>

    </nav>

</header>

<div class="contenedor">

<h1>📦 Consultar Pedido</h1>

<form method="POST" class="buscador">

{% csrf_token %}

<input type="number"
       name="numero"
       placeholder="Número de pedido"
       required>

<button type="submit">
Buscar
</button>

</form>

{% if pedido %}

<div class="card">

<h2>
Pedido #{{ pedido.id }}
</h2>

<p>
Estado:
<strong>
{{ pedido.estado }}
</strong>
</p>

<p>
Fecha:
{{ pedido.fecha }}
</p>

<p>
Total:
<strong>S/ {{ pedido.total }}</strong>
</p>

<h3>Productos:</h3>

<ul>
{% for item in detalles %}
<li>
{{ item.producto.nombre }} x {{ item.cantidad }}
</li>
{% endfor %}
</ul>

</div>

{% endif %}

{% if error %}

<p style="color:red; text-align:center;">
{{ error }}
</p>

{% endif %}

<br>

<a href="{% url 'lista_productos' %}">
<button>
⬅ Volver a tienda
</button>
</a>

</div>

</body>

</html>