<!DOCTYPE html>
<html>

<head>

<title>Realizar Pedido</title>

{% load static %}

<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet"
      href="{% static 'css/estilos.css' %}">

</head>

<body>

<div class="contenedor">

<h1 class="titulo">
🧾 Finalizar Pedido
</h1>

<form method="POST">

{% csrf_token %}

<div style="max-width:400px;margin:auto;">

{{ form.as_p }}

<script>

const dniInput = document.getElementById("id_dni_ruc");

dniInput.addEventListener("blur", function() {

    const dni = dniInput.value;

    if (dni.length < 8) {
        return;
    }

    fetch(`/buscar-cliente/?dni_ruc=${dni}`)
        .then(response => response.json())
        .then(data => {

            if (data.existe) {

                document.getElementById("id_nombre_razon_social").value = data.nombre_razon_social;
                document.getElementById("id_celular").value = data.celular;
                document.getElementById("id_direccion").value = data.direccion;
                document.getElementById("id_correo").value = data.correo;

                alert("Cliente encontrado. Datos completados automáticamente.");
            }

        });

});

</script>

<h3 class="total">
Total: S/ {{ total }}
</h3>

<button class="btn-agregar">

✅ Confirmar Pedido

</button>

</div>

</form>

</div>

</body>

</html>