<!DOCTYPE html>
<html>

<head>

<title>Iniciar Sesión</title>

{% load static %}

<meta name="viewport"
      content="width=device-width, initial-scale=1.0">

<link rel="stylesheet"
      href="{% static 'css/estilos.css' %}">

</head>

<body>

<header class="header-tienda">

    <div class="logo-tienda">
        🛍️ <span>Mi Tienda</span>
    </div>

    <nav class="nav-tienda">

        <a href="{% url 'lista_productos' %}">
            Inicio
        </a>

        <a href="{% url 'registro_cliente' %}">
            Registrarse
        </a>

    </nav>

</header>

<div class="contenedor">

<h1>🔐 Iniciar sesión</h1>

{% if error %}
<p style="color:red;">
{{ error }}
</p>
{% endif %}

<form method="POST" class="formulario-cliente">

{% csrf_token %}

<p>
<label>Usuario</label>
<input type="text" name="username" required>
</p>

<p>
<label>Contraseña</label>
<input type="password" name="password" required>
</p>

<button type="submit" class="btn-agregar">
    Entrar
</button>

</form>

<br>

<a href="{% url 'registro_cliente' %}">
    Crear cuenta nueva
</a>

</div>

</body>

</html>