<!DOCTYPE html>
<html>

<head>

<title>Pedido Exitoso</title>

{% load static %}

<meta name="viewport"
      content="width=device-width, initial-scale=1.0">

<link rel="stylesheet"
      href="{% static 'css/estilos.css' %}">

</head>

<body>

<div class="contenedor">

<h1>✅ Pedido realizado</h1>

<h2>
📦 Número de pedido:
<strong>
#{{ pedido.id }}
</strong>
</h2>

<p>
Guarda este número para consultar tu pedido.
</p>

<p>
Estado actual:
<strong>
{{ pedido.estado }}
</strong>
</p>

<br>

<a href="{% url 'consultar_pedido' %}">
<button>
📦 Consultar pedido
</button>
</a>

<br><br>

<a href="/">
<button>
⬅ Volver a tienda
</button>
</a>

</div>

</body>

</html>